<section>
  <div>
    <h2 class="p-2 py-4 text-bg-success fw-light text-uppercase">Experience</h2>
  </div>
  <div class="container">
    @for (item of _ExperienceService.getAllExperiences(); track $index) {
    <div class="card my-4 shadow">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img
              width="35"
              class="rounded-circle"
              [src]="item.Company__Image"
              [alt]="item.Company__Image__Alt"
            />
          </div>
          <p class="m-0 ps-3">
            <a
              class="text-secondary"
              [href]="
                item.Company__Website.length > 0 ? item.Company__Website : ''
              "
              target="_blank"
              >{{ item.Company__Name }}
            </a>
          </p>
        </div>
        <p class="m-0 fw-bold">{{ item.Jop__Title }}</p>
      </div>
      <div class="card-body">
        <div class="row">
          <p class="col-12 col-md-3 col-lg-2 fw-bold text-nowrap pe-2">
            {{ item.Jop__Type }} :
          </p>
          <p class="col-12 col-md-9 col-lg-10 fst-italic">
            {{ item.Jop__Desc }}
          </p>
        </div>
        <div class="row">
          <p class="col-12 col-md-3 col-lg-2 fw-bold text-nowrap pe-2">
            Responsibilities
          </p>
          <ul class="col-12 col-md-9 col-lg-10 ps-5">
            @for (item of item.Repsonsibilites; track $index) {
            <li class="mb-2">{{ item }}</li>
            }
          </ul>
        </div>
        <div class="mt-2 fw-semibold text-success-emphasis text-center mx-auto">
          <p>
            <i class="fa-solid fa-quote-left"></i> {{ item.EndMessage }}
            <i class="fa-solid fa-quote-right"></i>
          </p>
        </div>
      </div>
      <div class="card-footer">
        {{ item.Start__Date }} - {{ item.End__Date }}
      </div>
    </div>
    }

    <!-- <div class="card my-4 shadow">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img
              width="35"
              class="rounded-circle"
              src="./assets/Hyper Solutions.jpg"
              alt="EHyper Solutions company logo"
            />
          </div>
          <p class="m-0 ps-3">Hyper Solutions</p>
        </div>
        <p class="m-0">UI Developer</p>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="fw-bold text-nowrap pe-2">Onsite :</p>
          <p class="fst-italic">
            Rresponsibility for develop desktop application UI and selling the
            current products for customers and discuss customer requirements for
            the UI they want to implement
          </p>
        </div>
        <div class="d-flex">
          <p class="fw-bold text-nowrap pe-2">Responsibilities :</p>
          <ul>
            <li>Sales</li>
            <li>HTML5 semantic elements</li>
            <li>CSS3</li>
            <li>Bootstrap5</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">March 2024 - Present</div>
    </div>
    <h3 class="text-uppercase text-bg-success p-2">previous experience</h3>
    <div class="card my-4 shadow">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img
              width="35"
              class="rounded-circle"
              src="./assets/concreto.jpg"
              alt="Concoret ReadyMix company logo"
            />
          </div>
          <p class="m-0 ps-3">Concoret ReadyMix</p>
        </div>
        <p class="m-0">Human Resources Supervisor</p>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="fw-bold text-nowrap pe-2">Onsite :</p>
          <p class="fst-italic">
            A concrete building materials company working in contracting,
            construction and cement trade. The company have 6 concrete stations
            and I work as HR admin for 4 stations of them with manpower of 100
            employee.
          </p>
        </div>
      </div>
      <div class="card-footer">Aug 2022 - Aug 2023</div>
    </div>
    <div class="card my-4 shadow">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img
              width="35"
              class="rounded-circle"
              src="./assets/borgmix.jpg"
              alt="BorgMix for ReadyMix company logo"
            />
          </div>
          <p class="m-0 ps-3">BorgMix for ReadyMix</p>
        </div>
        <p class="m-0">General Accountant</p>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="fw-bold text-nowrap pe-2">Onsite :</p>
          <p class="fst-italic">
            A concrete building materials company working in contracting,
            construction and cement trade.
          </p>
        </div>
      </div>
      <div class="card-footer">Jan 2021 - Aug 2022</div>
    </div>
    <div class="card my-4 shadow">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center justify-content-center">
          <div>
            <img
              width="35"
              class="rounded-circle"
              src="./assets/silvertown.jpg"
              alt="Silver Town company logo"
            />
          </div>
          <p class="m-0 ps-3">Silver Town</p>
        </div>
        <p class="m-0">ASSISTANT MANGER</p>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <p class="fw-bold text-nowrap pe-2">Onsite :</p>
          <p class="fst-italic">
            A concrete building materials company working in contracting,
            construction and cement trade.
          </p>
        </div>
        <ul>
          <li>Help customers find items in the store.</li>
          <li>
            Check for stock at other branches or order requested stock for
            customers
          </li>
          <li>Provide customers with information about items</li>
          <li>egotiate with clients</li>
          <li>Elevate complaints to management</li>
        </ul>
      </div>
      <div class="card-footer">Aug 2019 - Dec 2021</div>
    </div> -->
  </div>
</section>
