<nav>
  <div
    class="bg-white px-2 d-flex justify-content-between align-items-center py-2 fixed-top"
  >
    <div class="text-success">
      <button (click)="onClickOpenAside()" class="btn p-1 px-2">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <div class="flex-grow-1 text-center">
      <a class="nav-link text-main-Gold fw-semibold" routerLink="home">
        <i class="text-success fa-solid fa-code"></i>
        <span> Muhamed Hajajii</span>
      </a>
    </div>
  </div>
</nav>
