<section>
  <div>
    <h2 class="p-2 py-4 text-bg-success fw-light text-uppercase">Contact</h2>
  </div>
  <div class="p-1 ps-md-5 pt-sm-5">
    <div
      class="d-flex justify-content-center justify-content-lg-start align-items-center flex-wrap flex-column flex-lg-row"
    >
      <a
        class="socialIcons mb-3 mb-sm-0"
        target="blank"
        href="mailto:muhamedhajajii@gmail.com"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <a
        class="ms-3 fs-6 text-success text-decoration-none fw-bold socialLink"
        target="blank"
        href="mailto:muhamedhajajii@gmail.com"
        >Muhamedhajajii&commat;gmail.com</a
      >
    </div>
  </div>
  <div class="p-1 ps-md-5 pt-sm-5">
    <div
      class="d-flex justify-content-center justify-content-lg-start align-items-center flex-wrap flex-column flex-lg-row"
    >
      <a
        class="socialIcons mb-3 mb-sm-0"
        target="blank"
        href="https://github.com/MuhamedHajajii"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        class="ms-3 fs-6 text-success text-decoration-none fw-bold socialLink text-center"
        target="blank"
        href="https://github.com/MuhamedHajajii"
        >https://github.com/ MuhamedHajajii</a
      >
    </div>
  </div>
  <div class="p-1 ps-md-5 pt-sm-5">
    <div
      class="d-flex justify-content-center justify-content-lg-start align-items-center flex-wrap flex-column flex-lg-row"
    >
      <a
        class="socialIcons mb-3 mb-sm-0"
        target="blank"
        href="https://www.linkedin.com/in/muhamed-hajajii/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a
        class="ms-3 fs-6 text-success text-decoration-none fw-bold socialLink text-center"
        target="blank"
        href="https://www.linkedin.com/in/muhamed-hajajii/"
        >https://www.linkedin.com/in/ muhamed-hajajii/</a
      >
    </div>
  </div>
  <div class="p-1 ps-md-5 pt-sm-5">
    <div
      class="d-flex justify-content-center justify-content-lg-start align-items-center flex-wrap flex-column flex-lg-row"
    >
      <a
        class="socialIcons mb-3 mb-sm-0"
        target="blank"
        href="https://wa.me/+201555484771"
        ><i class="fa-brands fa-whatsapp"></i
      ></a>
      <a
        class="ms-3 fs-6 text-success text-decoration-none fw-bold socialLink"
        target="blank"
        href="https://wa.me/+201555484771"
        >+201555484771</a
      >
    </div>
  </div>
</section>
