.links-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About {
  color: #008073;
}
.Experience {
  color: #00bcd4;
}
.Projects {
  color: #3f51b5;
}
.Skills {
  color: #9c27b0;
}
.Education {
  color: #f44336;
}
.Contact {
  color: #ff9800;
}
.Blog {
  color: #ff0000;
}
.Resume {
  color: #af9a92;
}
