<div class="position-relative">
  <div
    (click)="onClickOpenAside()"
    routerLink="home"
    role="button"
    class="border-bottom bg-light"
  >
    <h1 class="text-center main-font p-2">Muhamed Hajajii</h1>
    <p class="main-font text-center text-nowrap">Frontend Developer</p>
  </div>
  <ul class="list-unstyled pt-3">
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        routerLink="about"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon About">
          <i class="fa-solid fa-user"></i>
        </span>
        <span>About</span>
      </a>
    </li>
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        routerLink="experience"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon Experience">
          <i class="fa-solid fa-arrow-trend-up"></i>
        </span>
        <span>Experience</span>
      </a>
    </li>
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        routerLink="projects"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon Projects">
          <i class="fa-brands fa-github"></i>
        </span>
        <span>Projects</span>
      </a>
    </li>
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        routerLink="skills"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon Skills">
          <i class="fa-solid fa-chart-simple"></i>
        </span>
        <span>Skills</span>
      </a>
    </li>
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        routerLink="education"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon Education">
          <i class="fa-solid fa-graduation-cap"></i>
        </span>
        <span>Education</span>
      </a>
    </li>
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        routerLink="contact"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon Contact">
          <i class="fa-solid fa-envelope"></i>
        </span>
        <span>Contact</span>
      </a>
    </li>
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        routerLink="blog"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon Blog">
          <i class="fa-brands fa-youtube"></i>
        </span>
        <span>Blog</span>
      </a>
    </li>
    <li class="py-1 px-3">
      <a
        (click)="onClickOpenAside()"
        download
        href="assets/Muhamed Hagagy FrontEnd Angular.pdf"
        class="text-decoration-none rounded-1 text-bg-light d-flex justify-content-start align-items-center"
        role="button"
      >
        <span class="links-icon Resume">
          <i class="fa-solid fa-file-pdf"></i>
        </span>
        <span>Resume</span>
      </a>
    </li>
  </ul>
</div>
<!-- routerLink="Resume" -->
