<section>
  <div>
    <h2 class="p-2 py-4 text-bg-success fw-light text-uppercase">Resume</h2>
  </div>
  <div class="w-75 mx-auto vh-100">
    <div class="my-4 d-flex justify-content-between">
      <a
        download
        class="bg-main-gold text-white px-4 py-3 rounded-2"
        href="https://drive.google.com/uc?id=1NQQ8RQcfml89ycnr6vEnACBzEP4s0idB"
      >
        Download <i class="fa-solid fa-download"></i>
      </a>
      <a
        class="bg-main-gold text-white px-4 py-3 rounded-2"
        href="https://drive.google.com/file/d/1NQQ8RQcfml89ycnr6vEnACBzEP4s0idB/view"
      >
        Preview <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    </div>
    <iframe
      class="w-100 h-100"
      src="https://docs.google.com/file/d/1NQQ8RQcfml89ycnr6vEnACBzEP4s0idB/preview"
      frameborder="0"
    ></iframe>
  </div>
</section>
