<section>
  <div>
    <h2 class="p-2 py-4 text-bg-success fw-light text-uppercase">Skills</h2>
  </div>
  <div class="row p-4">
    <div class="col-12 col-lg-6 py-3 px-5">
      <div class="bg-white p-5 shadow h-100">
        <h3 class="text-success border-bottom">Professional Skills</h3>
        <div
          class="toolsIcons d-flex flex-wrap align-items-start justify-content-center"
        >
          @for (item of _SkillsService.getAllSkills().professional__Skills;
          track $index) {
          <div class="text-center my-4 mx-4">
            <img class="w-100" [src]="item.Image" [alt]="item.Name + 'logo'" />
            <p class="fw-bold mt-2">{{ item.Name }}</p>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 py-3 px-5">
      <div class="bg-white p-5 shadow h-100">
        <h3 class="text-success border-bottom">Tools</h3>
        <div
          class="toolsIcons d-flex flex-wrap align-items-start justify-content-center"
        >
          @for (item of _SkillsService.getAllSkills().Tools; track $index) {
          <div class="text-center my-5 mx-4">
            <img class="w-100" [src]="item.Image" [alt]="item.Name + 'logo'" />
            <p class="fw-bold mt-2">{{ item.Name }}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
