<section>
  <div>
    <h2 class="p-2 py-4 text-bg-success fw-light text-uppercase">Blog</h2>
  </div>
  <div class="row p-4 justify-content-center g-0">
    <div class="col-12 row mb-3 border-bottom pb-3 border-3">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-3"
      >
        <p class="m-0 text-success fs-4">
          Here You Can watch full project display of E-commerce Application
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="shadow">
          <iframe
            class="w-100 rounded-3"
            height="315"
            src="https://www.youtube.com/embed/iUww82I7Bkc?si=IlT-mDusqfhiqZ7L"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 row mb-3 border-bottom pb-3 border-3">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-3"
      >
        <p class="m-0 text-success fs-4">Vs Code #Short_Cuts Part 2</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="shadow">
          <iframe
            class="w-100 rounded-3"
            height="315"
            src="https://www.youtube.com/embed/37j-aH2XInE?si=xrvmWJNbi1CupZTy"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 row mb-3 border-bottom pb-3 border-3">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-3"
      >
        <p class="m-0 text-success fs-4">Yummy Recipes website</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="shadow">
          <iframe
            class="w-100 rounded-3"
            height="315"
            src="https://www.youtube.com/embed/w4QOvXTjbcg?si=FT38yrQoIxp4veUG"
            title="YouTube video player"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 row mb-3 border-bottom pb-3 border-3">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-3"
      >
        <p class="m-0 text-success fs-4">Vs Code #Short_Cuts Part 1</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="shadow">
          <iframe
            class="w-100 rounded-3"
            height="315"
            src="https://www.youtube.com/embed/YdJKIL3QpaQ?si=IfHFR5yZY7repMGA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 row mb-3 border-bottom pb-3 border-3">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-3"
      >
        <p class="m-0 text-success fs-4">Games Site</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="shadow">
          <iframe
            class="w-100 rounded-3"
            height="315"
            src="https://www.youtube.com/embed/CHOjuxNqr5Q?si=k6B6_Y7PjZ2Atm3x"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 row mb-3 border-bottom pb-3 border-3">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-3"
      >
        <p class="m-0 text-success fs-4">DevFolio</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="shadow">
          <iframe
            class="w-100 rounded-3"
            height="315"
            src="https://www.youtube.com/embed/jimY55U-WKw?si=wd0QhK6rIsxN8i2E"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 row mb-3">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-3"
      >
        <p class="m-0 text-success fs-4">DANIELS</p>
      </div>
      <div class="col-12 col-lg-6">
        <div class="shadow">
          <iframe
            class="w-100 rounded-3"
            height="315"
            src="https://www.youtube.com/embed/UhyJLshReQc?si=ZKW1MJz0M7QYY2HY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
