<section (click)="onAllProjectBannerClick(projLightBox)">
  <div>
    <h2 class="p-2 py-4 text-bg-success fw-light text-uppercase">Projects</h2>
  </div>
  <div class="p-3">
    <div class="row my-3 justify-content-center">
      <div class="text-success p-2 col-12">
        <h4 class="m-0">Angular 16</h4>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(FreshMarket, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="./assets/FreshMarket/FreshMarket.png"
              alt="FreshMarket"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">FreshMarket</p>
            <button
              class="btn"
              (click)="onProjectBannerClick(FreshMarket, $event)"
            >
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">E-commerce Application develop with angular 16</p>
          <div #projLightBox>
            <div
              #FreshMarket
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(FreshMarket, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-6 fw-bold">
                  <li>Ui (display data)</li>
                  <li>Authentication</li>
                  <li>wishList</li>
                  <li>Cart</li>
                  <li>Address</li>
                  <li>Make Order</li>
                  <li>Brands</li>
                  <li>Categories</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://e-commerce-website-angular-tau.vercel.app/login"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/E-commerce-website-Angular"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(start, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\start\start.png"
              alt="leon project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Yummy Recipes website</p>
            <button class="btn" (click)="onProjectBannerClick(start, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Simple Angular Design for routing and SPA</p>
          <div #projLightBox>
            <div
              #start
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(start, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>Angular 16</li>
                  <li>TypeScript</li>
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://start-frame-work-angular.vercel.app/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Start-FrameWork-angular"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Html Css Js jQuery -->
      <div class="text-success p-2 col-12">
        <h4 class="m-0">jQuery</h4>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Yummy, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\Yummy\Yummy.png"
              alt="Yummy project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Yummy Recipes website</p>
            <button class="btn" (click)="onProjectBannerClick(Yummy, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">
            jQuery Js Apis and validition and many other topics
          </p>
          <div #projLightBox>
            <div
              #Yummy
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Yummy, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                  <li>jQuery</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Yummy-Recipes-website/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Yummy-Recipes-website"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Party, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\Party\Party.png"
              alt="Party project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Egyption Party</p>
            <button class="btn" (click)="onProjectBannerClick(Party, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">
            simple site test jquery methods and count down for spacific date and
            validation for letters in textarea
          </p>
          <div #projLightBox>
            <div
              #Party
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Party, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                  <li>jQuery</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/jQuery-site/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/jQuery-site"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Html Css Js -->
      <div class="text-success p-2 col-12">
        <h4 class="m-0">JavaScript</h4>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Games, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\Games\Games.png"
              alt="Games project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Games Site</p>
            <button class="btn" (click)="onProjectBannerClick(Games, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">
            design for game search and ads for weather application to visite
            with slider and drag swaper and some animation
          </p>
          <div #projLightBox>
            <div
              #Games
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Games, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Games-Site/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Games-Site"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Weather, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\Weather\Weather.png"
              alt="Weather project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Weather live</p>
            <button class="btn" (click)="onProjectBannerClick(Weather, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">
            Weather App using weather api to generate weather for any location
            live with search
          </p>
          <div #projLightBox>
            <div
              #Weather
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Weather, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Weather-live/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Weather-live"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(regex, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\regex\regex.png"
              alt="regex project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Login Page</p>
            <button class="btn" (click)="onProjectBannerClick(regex, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Login and Signup page using Regular Expression</p>
          <div #projLightBox>
            <div
              #regex
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(regex, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Login-Page-validation/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Login-Page-validation"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Crud, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\crud\crud.png"
              alt="Crud project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Crud System</p>
            <button class="btn" (click)="onProjectBannerClick(Crud, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Crud System with login page</p>
          <div #projLightBox>
            <div
              #Crud
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Crud, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Crud-System-with-login-page/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Crud-System-with-login-page"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Bookmarker, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\Bookmarker\Bookmarker.png"
              alt="Bookmarker project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Bookmarker</p>
            <button
              class="btn"
              (click)="onProjectBannerClick(Bookmarker, $event)"
            >
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">CRUD Saving links in local storage</p>
          <div #projLightBox>
            <div
              #Bookmarker
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Bookmarker, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/BookMarker/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/BookMarker"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Marvel, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\Marvel\Marvel.png"
              alt="Marvel project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Marvel World</p>
            <button class="btn" (click)="onProjectBannerClick(Marvel, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Random Quote, Movies and memes Generator</p>
          <div #projLightBox>
            <div
              #Marvel
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Marvel, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Random-Quote-Generator/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Random-Quote-Generator"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Quote, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\Quote\Quote.png"
              alt="Quote project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Quote</p>
            <button class="btn" (click)="onProjectBannerClick(Quote, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Random Quote Generator</p>
          <div #projLightBox>
            <div
              #Quote
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Quote, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                  <li>JavaScript</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Random-Quote-Generator/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Random-Quote-Generator"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Html Css -->
      <div class="text-success p-2 col-12">
        <h4 class="m-0">Basics</h4>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(DANIELS, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\DANIELS\DANIELS.png"
              alt="DANIELS project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">DANIELS</p>
            <button class="btn" (click)="onProjectBannerClick(DANIELS, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Portfolio Landing page with main Animation</p>
          <div #projLightBox>
            <div
              #DANIELS
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(DANIELS, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/DANIELS/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/DANIELS"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(DevFolio, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="assets\DevFolio\DevFolio About.png"
              alt="DevFolio project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">DevFolio</p>
            <button
              class="btn"
              (click)="onProjectBannerClick(DevFolio, $event)"
            >
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Portfolio Landing page with main UI Tools</p>
          <div #projLightBox>
            <div
              #DevFolio
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(DevFolio, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML5</li>
                  <li>Css3</li>
                  <li>Bootstrap5</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/DevFolio/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/DevFolio"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 p-3 project">
        <div
          class="bg-white shadow h-100 rounded-3 position-relative overflow-hidden"
        >
          <div
            (click)="onProjectBannerClick(Leon, $event)"
            role="button"
            class="ProjImage"
          >
            <img
              class="w-100 h-100 rounded-top-1"
              src="/assets\leon-project\portfolio-section.png"
              alt="leon project picture"
            />
          </div>
          <hr class="w-75 mx-auto" />
          <div class="d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fs-4 text-success">Leon</p>
            <button class="btn" (click)="onProjectBannerClick(Leon, $event)">
              <i class="fa-solid fa-ellipsis-vertical text-success fa-2x"></i>
            </button>
          </div>
          <p class="px-3">Simple Landing page with main UI Tools</p>
          <div #projLightBox>
            <div
              #Leon
              class="projLightBox p-3 d-flex flex-column justify-content-between"
            >
              <div>
                <p
                  (click)="onProjectBannerClick(Leon, $event)"
                  class="text-success fs-2 position-relative AccomplishmentsTitle m-0"
                >
                  Accomplishments
                  <button
                    class="btn btn-close position-absolute end-0"
                  ></button>
                </p>
                <ul class="fs-5">
                  <li>HTML</li>
                  <li>Css</li>
                </ul>
              </div>
              <div>
                <hr />
                <ul
                  class="list-unstyled projIcons d-flex justify-content-center gap-2"
                >
                  <li class="bg-success rounded-circle demo">
                    <a
                      class="text-white"
                      href="https://muhamedhajajii.github.io/Leon-Project/"
                      target="blank"
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i
                    ></a>
                  </li>
                  <li class="bg-success rounded-circle repo">
                    <a
                      class="text-white"
                      href="https://github.com/MuhamedHajajii/Leon-Project"
                      target="blank"
                    >
                      <i class="fa-brands fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
